# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

bin/*
lib/*
# --- Virtual environments ---
.venv/
venv/
env/
ENV/
.gspaces/    # if you use a local venv with that name

# --- Environment / config secrets ---
.env
.env.*
*.env

# --- IDE / OS junk ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
*.log

